* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menu {
  background: #000000;
  color: #fff;
  height: 3.9rem;
  padding-left: 1.2rem;
}

#menu ul,
#menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu ul {
  width: 100%;
}

#menu li {
  display: inline-block;
  position: relative;
}

#menu a {
  display: block;
  line-height: 3.9rem;
  padding: 0 0.8rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 1rem;
}

#menu a.dropdown-arrow:after {
  content: "\002B";
  margin-left: 0.5rem;
}

#menu li a:hover {
  color: #0099cc;
  background: #ffffff;
}

#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 3.9rem;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

#menu label {
  display: none;
  line-height: 3.9rem;
  text-align: center;
  position: absolute;
  left: 2.3rem;
}

#menu label:before {
  font-size: 1.6em;
  content: "\2261";
  margin-left: 1.4rem;
}

#menu ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: 10.625rem;
  background: #000000;
  position: absolute;
  z-index: 99;
  display: none;
}

#menu ul.sub-menus li {
  display: block;
  width: 100%;
}

#menu ul.sub-menus a {
  color: #ffffff;
  font-size: 1rem;
}

#menu li:hover ul.sub-menus {
  display: block;
}

#menu ul.sub-menus a:hover {
  background: #f2f2f2;
  color: #0099cc;
}

@media screen and (max-width: 800px) {
  #menu {
    position: relative;
  }
  #menu ul {
    background: #111;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
  }
  #menu ul.sub-menus {
    width: 100%;
    position: static;
  }
  #menu ul.sub-menus a {
    padding-left: 1.8rem;
  }
  #menu li {
    display: block;
    float: none;
    width: auto;
  }
  #menu input,
  #menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  #menu input {
    z-index: 4;
  }
  #menu input:checked + label {
    color: white;
  }
  #menu input:checked + label:before {
    content: "\00d7";
  }
  #menu input:checked ~ ul {
    display: block;
  }
}

.image-note {
  max-width: 100%;
  max-height: auto;
  min-width: 100%;
  min-height: auto;
}

.text-absolute {
  margin-top: 50%;
  margin-left: 45%;
  font-size: 3rem;
  text-align: center;
  color: #ffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.span-color {
  border: solid yellow 0.2rem;
}

.span-colortwo {
  text-decoration: underline yellow;
}

.title-flex {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 3rem;
  color: #292929;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.flex-item {
  flex-basis: 28%;
  padding: 0.625rem;
  color: #292929;
  text-align: center;
  margin: 0.625rem;
  margin-bottom: 5rem;
  border: #e6e7e8 solid 0.125rem;
}

.flex-item:hover {
  border: #292a2c solid 0.125rem;
  transition: 500ms ease-in-out;
}

.flex-item h2 {
  margin-bottom: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.flex-item p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.75rem;
  color: #292929;
  padding-top: 1.5rem;
  display: block;
  padding-bottom: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.hover-button {
  padding: 0.625rem 1.25rem;
  background-color: #292a2c;
  color: #ffff;
  border: none;
  border-radius: 0.313rem;
  transition: background-color 1s ease;
}

.hover-button:hover {
  background-color: #ccc;
  color: #000000;
}

.about {
  width: 100%;
  height: 21.875rem;
  text-align: center;
  background: #111;
  color: #ffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 0.063rem solid #ffffff;
  padding-top: 4rem;
}

.about img {
  padding-top: 3rem;
}

.about h2 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.container-project {
  text-align: center;
}

.color-txt {
  border-bottom: #292929 solid 0.825rem;
}

.container-project h2 {
  font-size: 3rem;
  text-align: left;
  padding-top: 5rem;
  padding-bottom: 2rem;
  margin-left: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #292929;
}

.flex-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
}

.flex-image {
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  flex-basis: 50%;
  padding: 0.625rem;
  box-sizing: border-box;
}

.flex-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.container-project button {
  padding: 0.825rem 3rem;
  background: #000000;
  color: #ffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  border: none;
  margin: 1rem 1rem;
  border-radius: 0.2rem;
  transition: background-color 1s ease;
}

.container-project button:hover {
  background: #ccc;
  color: #000000;
  border-radius: 0.2rem;
}

.container-numbers {
  text-align: center;
  background: #111;
  color: #f2f2f2;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

.container-title {
  text-align: left;
  font-size: 2.5rem;
  margin-left: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #e6e7e8;
  padding-top: 2.5rem;
}

.flexbox-numbers {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.container-title span {
  border-bottom: #e6e7e8 solid 0.825rem;
}

.card-numbers {
  background-color: #111;
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-family: monospace;
}

.number {
  font-size: 5rem;
  font-weight: bold;
}

.description {
  font-size: 2rem;
}

/* Responsividade */

@media (max-width: 1000px) {
  .text-absolute {
    display: none;
  }
  .flexbox-numbers {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .flex-img {
    display: flex;
    flex-direction: column;
  }
  .number {
    font-size: 3rem;
  }
  .container-title {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .about h2 {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .container-project button {
    padding: 0.5rem 1.8rem;
    font-size: 0.825rem;
    text-transform: none;
  }
}

@media (max-width: 425px) {
  .title-flex h2 {
    font-size: 2.5rem;
  }
  .container-project h2 {
    font-size: 2.5rem;
  }
  .number {
    font-size: 2.5rem;
  }
  .description {
    font-size: 2rem;
  }
  .container-title {
    font-size: 1.5rem;
  }
}
